<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
    <trace autoflush="true" indentsize="4">
        <listeners>
            <add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Projects\Logs\sag2_trace.log" />
            <remove name="Default" />
        </listeners>
    </trace>
</system.diagnostics>