@model SAG2.Models.Persona
@{
    Layout = null;
    var ID = Model.ID;
    var NombreCompleto = Model.NombreCompleto;
}
<!DOCTYPE html>
<html>
<head>
    <title>CerrarPopUp</title>
    <script type="text/javascript" language="javascript">
        window.opener.document.getElementById("tipoBeneficiario").value = "1";
        window.opener.document.getElementById("PersonaID").value = "@{ @Html.Raw(ID.ToString()); }";
        window.opener.document.getElementById("Beneficiario").value = "@{ @Html.Raw(NombreCompleto); }";
        window.close();
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>