@model IEnumerable<SAG2.Models.Resolucion>

@{
    Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Index";
}

<div id="contenido_popup">

<table class ="table table-bordered table-hover"> 
    <tr class ="success">
        <th >
           Tipo
        </th>
        <th >
            Resolución
        </th>
        <th >
            Fecha Inicio
        </th>
        <th >
            Fecha Termino
        </th>
        
        <th style="width:40px;" class="controles"></th>
    </tr>
@foreach (var item in Model) {
    string F1 = item.FechaInicio.ToShortDateString();
    string F2 = item.FechaInicio.ToShortDateString();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResEx)
        </td>
        <td>  @F1        </td>
        <td>  @F2
        </td>


        <td style="width:40px;"> 
			<a href="@Url.Action("Edit", "Resolucion", new { id = item.ID })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"><img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
        </td>
    </tr>
}
</table>
</div>