@model IEnumerable<SAG2.Models.Comuna>
@{
	Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Comunas";
}
 <div class="form-group">
          <input type="text" class="form-control" placeholder="Busqueda" id="busqueda" style="width: 300px;">
        </div> 
 <div id="contenido_popup">
        <table class ="table table-bordered table-hover">
            <thead class="fixedHeader">
    <tr class="info">
        <th style="width:300px;">
            Región
        </th>
        <th style="width:250px;">
            Comuna
        </th>
       
        <th style="width:33px;" class="controles"></th>
    </tr>
                </thead>
 <tbody class="scrollContent">  
@foreach (var item in Model)
{
    <tr>
        <td style="width:300px;">
            @Html.DisplayFor(modelItem => item.Region.Nombre)
        </td>
        <td style="width:250px;">
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
      
        <td style="width:33px;">
            <a href="@Url.Action("Edit", "Comuna", new { id = item.ID })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"><img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
        </td>
    </tr>
}
     </tbody>
        </table>
    </div>